*{margin: 0px; padding: 0px;}
ul{list-style: none;} /* 리스트 앞에 . 같은거 제거*/
a{text-decoration: none;} /* 링크에 밑줄 같은거 제거*/
header{
    width: 100%;
    height: 95px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(19,181,234,1) 100%);
 
    /* header 안에 요소들을 모두 absolute 포지션으로 배치할 것이라서 */
    /* absolute 요소가 header의 좌상단을 기준으로 하려면 */
    /* header의 position이 relative 여야만 함 */
    position: relative;
}
 
/* 제목영역안에 있는 메인 로고 이미지 위치 지정 */
#logo{
    position: absolute;
    top: 20px;
    left: 20px;
}
 
/* 제목영역안에 오른쪽 상단에 top_menu 배치 */
#top_menu{
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
}
 
/* top_menu a의 글시 하얀색으로 */
#top_menu a{color: white;}
 
/* 헤더 영역안에 네비게이션 메뉴 배치 */
nav{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
}
 
nav li{
    display: inline;
    margin-left: 30px;
}
 
nav li a{color: white;}
 

.input-box{
    position:relative;
    width: auto;
    height: 200px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}

/* footer 영역 */
footer{
    width: 100%; /*헤더와 같은 사이즈*/
    height: 90px;
    margin-top: 20px;
    text-align: center;
    background-color: #f1f1f1;
}
 
/* 전체 페이지가 가운데로 오도록 */
#page{width: 100%; margin: 0px auto;}

/*폰트 설정*/
/* @font-face {
    font-family: "S-Core_Dream";
    src: url("..\S-Core_Dream_OTF");
    font-size: normal;
    font-weight: normal;
}
#font-test{
    font-family: "S-Core_Dream";
} */

.input{
    margin: auto;
    padding: 1%;
    background-color: rgb(103, 110, 110);
    width: 90%;
}
.input-name{
    margin: auto;
    width: 100%;
}

.chat{
    margin: auto;
    width: 100%;
    height: 300px;
}

.chat-username{
    font-size: 20px;
    color:navy;
}

.chattext-user{
    border:1px solid rgb(0, 0, 0);
    background-color:yellow; 
    border-radius:10px; 

    position:relative;
    margin: 2px;
    margin-left:auto;
    padding: 3px;

    width:fit-content;
}

.chattext-bot{
    text-align: left;
    border:1px solid rgb(0, 0, 0);
    background-color:rgb(255, 255, 255); 
    border-radius:10px; 
    width:fit-content;
    margin: 2px;
    margin-right: 5%;
    padding: 3px;
}