<!DOCTYPE html>
<html>
    <h1>1. KoBART</h1>
    <ul>
        <p><a href="https://arxiv.org/pdf/1706.03762.pdf">
            Transformer 논문 ("Attention is All You Need")
        </a></p>
        <p><a href="https://blog.promedius.ai/transformer/">
            Transformer 해설 (1)
        </a></p>
        <p><a href="https://blog.promedius.ai/transformer/">
            Transformer 해설 (2)
        </a></p>
        <p><a href="https://chloelab.tistory.com/34">
            BART
        </a></p>
        <p><a href="https://github.com/SKT-AI/KoBART">
            KoBART 모델 GitHub
        </a></p>
    </ul>
    <h1>2. TextRank</h1>
    <ul>
        <p><a href="https://lovit.github.io/nlp/2019/04/30/textrank/">
            TextRank 이론 및 구현
        </a></p>
    </ul>
</html>